<% @title = "Guía para solicitantes" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Guía para solicitantes</h1>
    <p>Aquí te explicamos cómo solicitar información a las instituciones públicas españolas. Encontrarás también consejos para realizar peticiones más efectivas y algunas pautas para solicitar información a la Unión Europea y en otros países. Es muy fácil, pero lee estas indicaciones con atención.</p>

    <h3><a href="#making_requests">Solicitar información en España</a></h3>
    <h3><a href="#responses">Respuestas</a></h3>
    <h3><a href="#answers_appeals">Recursos</a></h3>
    <h3><a href="#tdas">Solicitudes en Tuderechoasaber.es</a></h3>
    <h3><a href="#other_countries">Solicitar información en la UE y otros países</a></h3>
    <h3><a href="#appeal_templates">Plantillas para interponer un recurso</a></h3>


    <h1 id="making_requests">1. Solicitar información en España</h1>

    <h2>1.1 ¿Tengo derecho a realizar una solicitud?</h2>
    <p>Claro que sí. España cuenta con una <a href="http://boe.es/buscar/doc.php?id=BOE-A-2013-12887" target="_blank">Ley de Transparencia, Acceso a la Información y Buen Gobierno</a> en vigor a nivel estatal desde 10 de diciembre de 2014, y lo estará a nivel autonómico y local en diciembre de 2015. Esta ley reconoce:</p>
    <ul>
    <li>La obligación de las instituciones de publicar información de manera proactiva. <a href="http://boe.es/buscar/act.php?id=BOE-A-2013-12887&p=20131221&tn=1#cii" target="_blank">Aquí</a> podrás leer con detalle qué información deben publicar las instituciones.</li>
    <li>El derecho de toda persona a solicitar información a las instituciones españolas.</li>
    </ul>
    <p>Aunque sea aplicable a todo el país, cada gobierno autonómico, local y cada organismo constitucional puede implementarla aprobando su propia norma. La base es muy similar, aunque algunas comunidades y organismos han decidido mejorar los mínimos que establece la ley estatal. En todo caso, aunque la ley no haya entrado en vigor aún en determinados ámbitos, o las instituciones que te interesen no cuenten con normativa propia, te animamos siempre a solicitar información. No pierdes nada.</p>

    <h2>1.2 ¿Qué información puedo solicitar?</h2>
    <p>Las leyes de transparencia determinan tu derecho a acceder a la información que está en manos de las instituciones públicas. La ley española establece algunos límites: algunos están en línea con los estándares internacionales, como es la protección de la privacidad de las personas o la seguridad nacional. Deben aplicarse sólo si la información solicitada puede dañar otro derecho protegido por la ley, y en ese caso deberá justificarse.</p>
    <p>Existe sin embargo una serie de límites que no están en línea con los estándares internacionales:</p>
    <ul>
    <li>Sólo podemos acceder a información sujeta a derecho administrativo.</li>
    <li>Pueden excluir toda la información  que sea considerada “auxiliar o de apoyo”, como la contenida en notas, borradores, opiniones, resúmenes, comunicaciones e informes internos o entre órganos o entidades administrativas.</li>
    </ul>
    <p>Como algunos de estos límites son muy genéricos, poco claros y harían posible una aplicación arbitraria de la ley, desde Tuderechoasaber.es te recomendamos que, ante la duda y por norma general, solicites cualquier información. Envía todas las preguntas que se te ocurran y, en caso de que te denieguen la información, <a href="#answers_appeals">recurre</a>.</p>

    <h2 id="missing_body">1.3 ¿A quién puedo dirigirme?</h2>
    <p>A través de esta página queremos que puedas enviar solicitudes de acceso a la información a cualquier institución pública española a nivel nacional, autonómico y local. Y también a empresas públicas, como AENA o RTVE.</p> 
    <p>Tuderechoasaber.es está siempre en construcción. Si buscas un organismo y no lo tenemos, se debe a que aún no contamos con su mail de contacto. En este caso, avísanos y lo buscaremos. Y si lo tienes tú, mejor que mejor. Así  estarás ayudando a otros futuros solicitantes.</p>
    <p>Aquí tienes la <%= link_to 'lista completa', list_public_bodies_default_path %> de organismos y cómo pedir información <a href="#other_countries">a la UE</a> y en otros países.</p>

    <h2>1.4 Requisitos para solicitar información en España</h2>
    <p>La ley de transparencia española exige ciertos requisitos a los solicitantes de información. Así, es obligatorio identificarse para poder solicitar información, y algunas instituciones proceden a comprobar la identidad del solicitante, lo que hace más complejo el proceso. Hay instituciones más permisivas y que permiten el uso del correo electrónico. Otras instan al solicitante a acudir presencialmente, o a instalar un sistema de identificación digital que solo podrá  lograr con un número de identificación nacional español o un carnet de residencia. Como ves, hay de todo.</p>
    <p>El sistema más restrictivo lo impone la propia Administración General del Estado, aunque ofrece cuatro opciones para enviar una solicitud de acceso a la información. Las cuatro implican tener un ordenador e internet:</p>
    <ul>
    <li>Estar en posesión de un DNI electrónico. <a href="http://www.ine.es/prensa/np864.pdf" target="_blank">Según el Instituto Nacional de Estadística</a>, en 2014 el 47,9% de la población de 16 a 74 años de edad declara disponer de DNIe, pero sólo el 8,5% de estos tiene lector de tarjetas con microchip electrónico, un complemento que hay que adquirir por separado.</li>
    <li>Estar en posesión de un certificado digital. Según <a href="https://www.cert.fnmt.es/web/ceres/home" target="_blank">CERES</a>, a finales de 2014 había menos de cuatro millones de certificados activos.</li>
    <li>Usar el sistema Cl@ve. Exige facilitar el número de cuenta bancaria que usas para pagar tus impuestos y pasar por una oficina de la Agencia Tributaria o esperar la llegada de un código por correo postal.</li>
    <li>Para los extranjeros resulta en la mayoría de los casos imposible realizar solicitudes. Sólo pueden hacerlo los ciudadanos de una serie de países que cuentan con el sistema Stork.</li>
    </ul>
    <p>Estos requisitos varían según la institución. En Tuderechoasaber.es solo podrás tramitar por ti mismo solicitudes a aquellos organismos que acepten el correo electrónico como canal y no exijan identificación. En todo caso, elige una institución y te mostraremos cómo puedes proceder.</p>
    <p>Para facilitar el acceso a la información a todas las personas, Tuderechoasaber.es te permitirá enviar solicitudes anónimas. Nuestro equipo puede enviar las solicitudes a un organismo de la Administración Central por ti y publicará la respuesta, que te hará llegar en cuanto la reciba. <a href="#proxy_requests">Aquí</a> puedes encontrar más detalles sobre esta opción.</p>

    <h2>1.5 ¿Qué pasa si no sé a qué organismo tengo que dirigirme?</h2>
    <p>Si tienes una pregunta pero no estás seguro del organismo público al que tienes que dirigirte para solicitar la información que necesitas, prueba lo siguiente:</p>
    <ul>
        <li>Consulta o busca en tuderechoasaber.es solicitudes similares a la tuya.</li>
        <li>Lee la descripción de cada organismo público para informarte de lo que hacen.</li>
        <li>Cuando hayas encontrado el organismo que puede tener la información deseada, puedes cerciorarte consultando su página web.</li>
        <li>En el caso de que no hayas acudido al organismo correcto, puedes preguntarle dónde deberías enviar tu solicitud. Si lo saben, deberían informarte de ello.</li>
        <li>Si todavía tienes dudas, por favor <a href="<%= help_contact_url %>">pónte en contacto con nosotros</a> para que podamos ayudarte.</li>
    </ul>

    <h2 id="proxy_requests">1.6 ¿Cómo puedo enviar solicitudes anónimas?</h2>
    <p>Tuderechoasaber.es envía tus solicitudes a través del correo electrónico de las administraciones públicas porque es el medio más sencillo. Por desgracia, la ley de transparencia impone varias restricciones para certificar tu identidad. Como consideramos que este complejo sistema <a href="http://blog.tuderechoasaber.es/2014/12/access-info-europe-presenta-una-queja-ante-el-defensor-del-pueblo-espanol-por-la-deficiente-implementacion-del-derecho-de-acceso-a-la-informacion/" target="_blank">supone un grave obstáculo al derecho de acceso a la información</a>, ponemos medios para que puedas realizar solicitudes a través de nuestra plataforma sin necesidad de identificarte con el sistema que proponen.</p>
    <p>No te preocupes si no sabes qué administraciones funcionan con este sistema. Cuando selecciones una institución que requiera estos requisitos, verás un aviso en la pantalla. Te avisará de que, si quieres, nosotros podemos encargaremos de trasladarla al formulario de la administración pública a la que te dirijas. Tanto la pregunta como la respuesta, si la hay, serán publicadas en Tuderechoasaber.es, como ocurre con el resto de solicitudes en la plataforma.</p>
    <p>Es importante que tengas en cuenta lo siguiente. Si nosotros trasladamos por ti la solicitud al formulario del Portal de Transparencia, el trámite administrativo que se inicia a continuación figurará con nuestro certificado electrónico, a nuestro nombre. Esto implica que, si la administración no te responde y deseas presentar un recurso, deberás ponerte en contacto con nosotros para que lo gestionemos por ti. En Tuderechoasaber.es no podemos redactar todos los recursos que se quieran interponer. Si tú redactas tu recurso, exponiendo el motivo del mismo, nosotros nos comprometemos a formularlo tal cual con el texto propuesto, siempre y cuando no contenga ningún mensaje ofensivo o que esté fuera de lugar. Queremos que las solicitudes de información puedan seguir siendo públicas y fáciles de realizar, sin barreras, y por eso hemos decidido dar este paso.</p>


    <h1 id="responses">2. Respuestas</h1>

    <h2>2.1 ¿Tendré que pagar por solicitar información?</h2>
    <p>No, solicitar información en España es gratuito. Como recibir la información en formato electrónico/digital no tiene coste, te recomendamos que indiques en tu solicitud el formato que deseas. En el caso en que se quiera recibir información impresa, la institución puede cobrar una tasa por realizar estas copias. Esa tasa no deberían equivaler únicamente al precio real de la copia (coste de reproducción), nada más, por lo que no debería suponer un lucro para la institución.</p>

    <h2>2.2 ¿Cuándo obtendré una respuesta?</h2>
    <p>La ley española establece un plazo de un mes para contestar a las solicitudes de acceso a la información. Este es el plazo más común en España, aunque algunas instituciones han establecido plazos más cortos. Por eso, revisa las fichas de cada institución para asegurarte de cuándo deberían contestarte. Tú no te preocupes, no es necesario que tengas todo esto en la cabeza. El sistema también te avisará si se pasa el plazo y no recibes respuesta.</p>
    <p>Normalmente, al enviar tu solicitud las instituciones te dan algún tipo acuse de recibo o e-mail de confirmación. Es recomendable que pidas esta confirmación por si tuvieras que recurrir en un futuro.</p>

    <h2>2.3 ¿Cuáles son las causas por las que pueden denegarme la información que he solicitado?</h2>
    <p>La ley de transparencia establece una serie de límites por los cuales una institución puede denegar la información solicitada. El derecho de acceso podrá ser limitado cuando acceder a la información suponga un perjuicio para:</p>
    <ul>
    <li>La seguridad nacional</li>
    <li>La defensa</li>
    <li>Las relaciones exteriores</li>
    <li>La seguridad pública</li>
    <li>La prevención, investigación y sanción de los ilícitos penales, administrativos o disciplinarios</li>
    <li>La igualdad de las partes en los procesos judiciales y la tutela judicial efectiva</li>
    <li>Las funciones administrativas de vigilancia, inspección y control</li>
    <li>Los intereses económicos y comerciales</li>
    <li>La política económica y monetaria</li>
    <li>El secreto profesional y la propiedad intelectual e industrial</li>
    <li>La garantía de la confidencialidad o el secreto requerido en procesos de toma de decisión</li>
    <li>La protección del medio ambiente</li>
    </ul>
    <p>Todos estos límites deben ser aplicados de manera proporcional y justificada. Es decir, si una institución alega uno de estos límites deberá especificar el daño concreto que puede causar la publicación de la información. Si no lo justificara, puedes plantear un recurso.</p>
    <p>Ojo, si es solo una parte de la información que has solicitado la pueda causar daño a un interés de los enumerados, tendrás derecho de acceso parcial. Por ejemplo, si alegan que no pueden darte un documento para proteger la privacidad de una persona debería ser suficiente con tachar su nombre para poder acceder a la información.</p>

    <h2>2.4 ¿Puedo reutilizar la información recibida?</h2>
    <p>En general, la información en manos de las instituciones públicas españolas es “pública” en el sentido de que ha sido creada con el dinero de los contribuyentes. Por lo tanto deberías ser libre de utilizar los documentos que recibes y la información que contienen.</p>
    <p>Sin embargo, existen normas que regulan la reutilización de la información del sector público, pero esto sólo te concierne si has solicitado un gran volumen de información o una base de datos. En caso de duda, especialmente si tienes pensado utilizar el material para propósitos comerciales, pregunta al organismo al que has solicitado la información o ponte en contacto con nosotros.</p>

    <h2>2.5 ¿Qué pasa si no recibo una respuesta?</h2>
    <p>En España si no te responden a tu solicitud de acceso a la información pasado el plazo marcado por la ley debes entender que te han denegado la información. Desde el día en que cumple el plazo ya puedes plantear un recurso. Tuderechoasaber.es te enviará un email para informarte cuando el plazo haya concluido.</p>

    <h2>2.6 ¿Qué pasa si recibo una respuesta que no me satisface?</h2>
    <p>Hay cierto número de casos en los que puedes estar insatisfecho con la respuesta a tu solicitud:</p>
    <ul>
    <li>Sólo has recibido parte de la información que solicitaste (pero no un rechazo formal), o la información que te ha sido facilitada es irrelevante o no responde completamente a tu pregunta.</li>
    <li>Te han dicho que la información “no está en poder” del organismo al que enviaste tu solicitud.</li>
    <li>Te han denegado el acceso a la información o a los documentos que has solicitado.</li>
    <li>No has recibido ninguna respuesta (“silencio administrativo”).</li>
    </ul>
    <p>En Tuderechoasaber.es tendrás la posibilidad de “clasificar” tu respuesta según una lista de categorías. Si no sabes cómo hacerlo, te ayudaremos. Y si piensas que la respuesta es indebida, interpón un recurso. Para más información sobre esto, <a href="#answers_appeals">haz clic aquí</a>.</p>

    <h2>2.7 Clasificación de las respuestas</h2>
    <p>Las respuestas de las administraciones pueden ser muy diversas y según lo que nos contesten deberemos reaccionar de una u otra manera:</p>
    <ul>
    <li>Información recibida: La institución ha contestado a tiempo y con la información solicitada.</li>
    <li>Información recibida parcialmente: La institución ha contestado a tiempo pero no con toda la información solicitada porque considera que una parte de esta información no debe ser pública.</li>
    <li>No tiene la información: La institución contesta alegando que no tienen la información.</li>
    <li>Información incompleta: La institución ha contestado a tiempo pero no incluye toda la información solicitada.</li>
    <li>Información inadecuada: La respuesta de la institución no corresponde a la información solicitada.</li>
    <li>Silencio: Transcurrido el tiempo que tiene para contestar, la institución no ha contestado.</li>
    <li>Esperando respuesta.</li>
    <li>Esperando una aclaración.</li>
    <li>Información denegada: la institución ha contestado denegando la información.</li>
    <li>Requiere revisión del administrador: Marca esta casilla si quieres que el moderador de Tuderechoasaber.es revise la pregunta o la respuesta de esta solicitud.</li>
    </ul>
    <p>En los casos en los que no estés satisfecho por falta de respuesta (por ser incompleta o por inadecuada), antes de plantear un recurso te recomendamos que te dirijas de nuevo a la institución e insistir una segunda vez.</p>

    <h2>2.8 He realizado solicitudes de las que he conseguido respuesta, ¿puedo compartirla en este sitio?</h2>
    <p>Lamentamos decirte que no es posible. Tuderechoasaber.es archiva las solicitudes realizadas a través esta web, pero no pretende ser un archivo de todas las solicitudes de información. No se permite cargar otras solicitudes en esta página puesto que no podemos verificar si las respuestas proceden efectivamente de una institución pública. Si deseas hacer pública una respuesta que has recibido por otra vía, tienes que volver a realizar la solicitud a través de Tuderechoasaber.es.</p>


    <h1 id="answers_appeals">3. Recursos</h1>

    <p>En este documento planteamos una serie de consejos prácticos para recurrir las denegaciones de información en España. Repasaremos entre otras cuestiones las razones por las que podemos recurrir, los organismos ante los que podemos recurrir y cómo afrontar la redacción de un recurso.</p>

    <h2>3.1 ¿Qué tipos de recursos existen en España para recurrir una denegación de la información?</h2>
    <p>En España cuando alguna institución pública no responde adecuadamente a una solicitud de acceso a la información tenemos el derecho a dos tipos de recursos: el recurso administrativo y el recurso judicial.</p>
    <p>El recurso administrativo es el primer paso, es un recurso gratuito y para el que no necesitas un abogado, puedes presentarlo tú mismo. Para los recursos sobre acceso a la información, la ley 19/2013 de transparencia crea la figura del Consejo de la Transparencia, que es un organismo administrativo especializado en el acceso a la información (hay más organismos a los que puedes recurrir, te lo explicamos más adelante.).</p>
    <p>El recurso judicial es una recurso costoso (hay que pagar tasas y tener un abogado y un procurador) y largo. En este documento nos vamos a centrar únicamente en los requisitos necesarios para enviar un recurso administrativo.</p>

    <h2>3.2 ¿Por qué razones podemos recurrir?</h2>
    <p>En el caso de las solicitudes de acceso a la información estas son las razones por las que podrías recurrir:</p>
    <ul>
    <li>Que te denieguen expresamente la información. Es decir que recibas una respuesta de la institución a la que solicitaste información donde te digan que no van a darte la información y te den unos argumentos que consideras que no son suficientes para denegarte la información.</li>
    <li>Que no te contesten en el plazo que tienen para contestar (en el caso de España es de un mes en la mayoría de instituciones). Si esto ocurre surtiría efecto el silencio administrativo que en este caso es negativo, es decir que debemos entender que nos han denegado la información.</li>
    <li>Que te denieguen parcialmente la información, es decir que te den solo una parte de la información que has solicitado y te denieguen otra parte dándote unos argumentos que consideras que no son suficientes para denegarte la información.</li>
    <li>Que la institución a la que solicitas información quiera cobrarte por la información solicitada.</li>
    </ul>

    <h2>3.3 ¿Cuándo podemos recurrir?</h2>
    <p>Se puede recurrir en el momento en el que se reciba una respuesta o cuando haya pasado el plazo máximo que tiene la institución para contestar (que el caso de España es de un mes).</p>
    <p>Tienes un plazo de un mes para plantear el recurso desde que te llega la respuesta de la institución o desde que finaliza el plazo para contestar.</p>
    <p>El organismo al que recurres tiene tres meses para contestarte, si no te contesta tu recurso se considera desestimado.</p>

    <h2>3.4 ¿Ante qué organismo debemos recurrir?</h2>
    <p>El Consejo de la Transparencia es el organismo de revisión competente para conocer los casos de denegación de la Administración General del Estado y de la casa Real. El resto de instituciones, Comunidades Autónomas y Entidades Locales tienen sus propios mecanismos.</p>
    <%#
    <p class="XXX">En las fichas que Access Info Europe ha preparado de cada institución puedes consultar cuál es el órgano adecuado y cuáles son los requisitos concretos de cada uno.</p>
    %>

    <h2>3.5 Formalismos de los recursos</h2>
    <p>A día de hoy ninguno de los organismos creados para conocer los casos de denegación de la información ha creado un proceso específico para hacerlo. Esto quiere decir que para presentar un recurso debemos hacer lo mismo que con el resto de recursos administrativos: presentar un escrito dirigido al Consejo de la Transparencia o al organismo que corresponda.</p>
    <p>Para presentar un escrito se puede:</p>
    <ul>
    <li>Presentar físicamente tu recurso en el registro de la institución ante la que quieres recurrir o ante una institución pública que tenga acuerdo con la institución en cuestión (puedes preguntarles cuáles son). Al presentar el escrito deberás presentar un documento de identificación personal.</li>
    <li>Presentar telemáticamente el escrito a través de las oficinas virtuales. Para usar esta opción debes tener una firma electrónica o un un certificado digital.</li>
    </ul>

    <h2>3.6 Consejos básicos para redactar un recurso</h2>
    <p>Para presentar un recurso administrativo no necesitas un abogado ni un procurador, puedes escribirlo tú mismo, se trata de que plantees tus argumentos de la manera más clara posible para intentar que la institución que te ha denegado la información cambie su postura y decida darte la información.</p>
    <p>A continuación te damos una serie de consejos que creemos pueden ser de ayuda a la hora de escribir tu recurso:</p>
    <ul>
    <li>Lo primero que debes hacer es leer con detenimiento la respuesta que has obtenido por parte de la institución y reconocer el o los argumentos que te dan para no darte la información. Si estás recurriendo porque no te han contestado puedes utilizar <a href="#no_response_template">nuestra plantilla</a> como base del recurso.</li>
    <li>Plantea el escrito como una carta formal: indica tu nombre y dirección, el nombre de la institución a la que va dirigido y la fecha.</li>
    <li>Indica en el primer párrafo el objeto de tu escrito (recurrir una denegación de información) y el número de expediente de tu solicitud (al enviar una solicitud de acceso a la información recibes un número de expediente que debes indicar para que puedan encontrar tu caso).</li>
    <li>Explica en el siguiente párrafo que estás en desacuerdo con las razones por las que te han denegado la información y expón tus argumentos de la manera más clara y ordenada posible. Te recomendamos que numeres tus argumentos  para que quede más claro. Es importante que respondas a cada uno de los argumentos que expusieron en la respuesta.</li>
    <li>Descárgate <a href="#generic_template">esta plantilla</a> para ver cómo quedaría el recurso.</li>
    </ul>
    <p>Desde Tuderechoasaber.es animamos siempre a recurrir cuando te denieguen la información de manera injustificada o injusta. Es muy importante insistir para poder conseguir una buena implementación del derecho de acceso ala información y avanzar el nivel de transparencia de las instituciones públicas en España.</p>


    <h1 id="tdas">4. Solicitudes en Tuderechoasaber.es</h1>

    <h2 id="request_moderation">4.1 ¿Cómo se moderan las solicitudes y los comentarios en Tuderechoasaber.es?</h2>
    <p>En esta web puedes realizar solicitudes e insertar comentarios si estás registrado. Revisamos los contenidos con regularidad y nos reservamos el derecho de eliminar declaraciones poco apropiadas, como las de naturaleza ofensiva o potencialmente difamatoria. Antes de eliminar un comentario, contactamos con el autor para poder aclarar la cuestión.</p> 
    <p>Del mismo modo, tú también puedes denunciar contenidos inadecuados si los encuentras. Sólo tienes que categorizar la solicitud como “Requiere revisión del administrador” y enseguida lo comprobaremos. También puedes ponerte en contacto directamente con nosotros y avisarnos.</p>


    <h2 id="languages">4.2 ¿Qué idiomas puedo usar para enviar solicitudes en Tuderechoasaber.es?</h2>
    <p>Tuderechoasaber.es tiene como ambición estar disponible en todos los idiomas oficiales de España. La web está en construcción continua, por lo que puede ser que algunas partes no estén todavía traducidas. Si deseas colaborar como traductor voluntario, escríbenos a <a href="mailto:contacto@tuderechoasaber.es">contacto@tuderechoasaber.es</a>.</p>
    <p>En cualquier caso, en las comunidades donde haya un idioma cooficial se podrá utilizar éste para las solicitudes que vayan dirigidas a sus instituciones. En Tuderechoasaber.es no podemos traducir el idioma de las solicitudes ni de las respuestas.</p>

    
    <h2 id="tips">4.3 ¿Qué constituye una buena solicitud?</h2>
    <p id="focused">Por favor, incluye en tu solicitud los detalles necesarios para poder identificar fácilmente la información que estás pidiendo. Los mensajes cortos y concisos hacen que sea más fácil para los funcionarios identificar la información que pides, lo que significa que recibirás una respuesta más rápidamente.</p>
    <p>Además, una petición bien formulada da menos razones a los funcionarios para rechazarla por considerarla vaga o poco precisa. Sin embargo, no te preocupes por hacerla perfecta: en principio, en caso de que tu solicitud no sea clara, la institución a la que te diriges debería ponerse en contacto contigo para aclarar cualquier duda.</p> 
    <p>Por favor, no incluyas:</p>
    <ul>
        <li>Argumentos basados en un tema o causa de tipo personal;</li>
        <li>Declaraciones que puedan difamar o insultar a terceras personas;</li>
        <li>Lenguaje ofensivo.</li>
    </ul>
    <p>En caso contrario, nos veremos obligados a rechazar tu petición. Si fuera así, te lo haríamos saber y estaríamos siempre dispuestos a discutir caso por caso.</p>

    <h2 id="data_protection">4.4 ¿Puedo pedir información sobre mí mismo?</h1>
    <p>No utilices Tuderechoasaber.es para acceder a tu propia información personal. Si quieres información sobre ti mismo, utiliza preferiblemente las normas de Protección de Datos. <a href="https://www.agpd.es/portalwebAGPD/canalciudadano/derechosciudadano/contenido_del_derecho/index-ides-idphp.php">Haz clic aquí para más información.</a></p>

    <h2>4.5. Soy periodista o investigador, ¿es posible mantener la confidencialidad de mi solicitud hasta la publicación de mi artículo?</h2>
    <p>Tuderechoasaber.es está diseñada para realizar solicitudes públicas. Todas las respuestas que recibimos se publican automáticamente en la web, para que todo el mundo las pueda consultar.</p> 
    <p>Si eres un periodista, una ONG, investigador o simplemente deseas mantener el carácter confidencial de tu consulta hasta que hayas escrito tu artículo o por otras razones, tienes que enviar la solicitud de acceso directamente a la institución que creas conveniente, pero no a través de este sitio web.</p>


    <h1 id="other_countries">5. Solicitar información en la UE y otros países</h1>
    <p>Solicitar información en la Unión Europea es sencillo y rápido. El <a href="http://www.europarl.europa.eu/RegData/PDF/r1049_es.pdf" target="_blank">Reglamento 1049/2001 de acceso a documentos en manos de las instituciones comunitarias</a> tiene un alcance muy amplio y establece la obligación de las instituciones a contestarte en 15 días. Para ello cuentas con <a href="http://www.asktheeu.org" target="_blank">Ask The EU</a>, una web muy similar a Tuderechoasaber.es.</p>
    <p>Si quieres conocer cómo acceder a la información en otros países puedes consultar estas tres herramientas:</p>
    <ul>
    <li>El <a href="http://www.legalleaks.info/toolkit/what-is-the-toolkit.html" target="_blank">Legal Leaks Toolkit</a>, una guía sobre acceso a la información para periodistas que explica con detalle qué es el derecho de acceso a la información y cómo puedes ejercelo en otros países de Europa.</li>
    <li>El <a href="http://www.rti-rating.org/" target="_blank">Right to Information Global Rating</a>, donde puedes encontrar todas las leyes de acceso a la información del mundo.</li>
    <li><a href="http://alaveteli.org/deployments/" target="_blank">Alaveteli</a>, en esta web puedes encontrar otras webs como Tuderechoasaber.es en otros países.</li>
    </ul>


    <h1 id="appeal_templates">6. Plantillas para interponer un recurso</h1>
    <p>Ponemos estas plantillas a tu disposición. Puedes usarlas directamente o tomarlas como referencia para recurrir ante las instituciones:</p>

    <h2 id="generic_template">Plantilla genérica</h2>
    <p>Descarga <a href="http://blog-tdas.s3.amazonaws.com/blog-tdas/2015/01/Plantillas-recursos.doc" target="_blank">esta plantilla</a> genérica para interponer recursos. Si la usas, no olvides borrar todas las notas y consejos que contiene antes de enviarla.</p>

    <h2 id="no_response_template">Plantilla para silencio administrativo</h2>
    <p>Si no te contestan a una solicitud de acceso a la información en el tiempo establecido se entiende que te han denegado la información. Como no te han dado ninguna razón concreta, en tu recurso puedes argumentar las razones por las que consideras que esa información debe ser pública.</p>
    <p>Descarga <a href="http://blog-tdas.s3.amazonaws.com/blog-tdas/2015/01/PLANTILLA-PARA-LOS-CASOS-DE-SILENCIO-ADMINISTRATIVO.doc" target="_blank">aquí</a> la plantilla para recurrir ante un caso de silencio administrativo. No olvides borrar todas las notas y consejos que contiene antes de enviarla.</p>

</div>
